<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".moc" mimeType="live2d/api" />
            <mimeMap fileExtension=".mtn" mimeType="live2d/api" />
        </staticContent>
    </system.webServer>
</configuration>
